<ul class="products">
	<li class="title">
		<div>
			<span>#</span>
			<span>{{sns.table_titles.product_name}}</span>
			<span>{{sns.table_titles.price}}</span>
			<span>{{sns.table_titles.amount}}</span>
		</div>
	</li>
	<li *ngFor="let product of products">
		<div>
			<span>{{product.id}}</span>
			<span>{{product.name}}</span>
			<span>{{product.price}}</span>
			<input #product_amount type="number" min="1" max="99" value="1">
			<div class="button" (click)="select(product, product_amount.value); product_amount.value='1'">+</div>
		</div>
	</li>
</ul>
<div>{{sns.table_titles.add_new_product}}</div>
<div>
	<label>{{sns.table_titles.product_name}}:
		<input #product_name placeholder="USB-кабель" value="USB-кабель"/>
	</label>
</div>
<div>
	<label>{{sns.table_titles.price}}:
		<input #product_price type="number" min="0" max="99999" value="150"placeholder="150">
	</label>
</div>
<div (click)="add(product_name.value, product_price.value); product_name.value=''; product_price.value=''" class="button">{{sns.table_titles.btn_add_product}}</div>