<h2>{{sns.table_titles.title}}</h2>
<div>
	<label>{{sns.table_titles.id}}
		<!--<input #sale_id placeholder="4" value="4"/>-->
		<input #sale_id placeholder="{{sns.sale_num}}" type="number" min="1" max="99999" value="{{sns.sale_num}}">
	</label>
</div>
<div>
	<label>{{sns.table_titles.client_name}}
		<input #sale_client placeholder="Борисов Петр Яковлевич" value="Борисов Петр Яковлевич"/>
	</label>
</div>
<h2>{{sns.table_titles.tbl_name}}</h2>
<ul class="sales">
	<div *ngIf="sns.sale.length">
		<li class="title">
			<div>
				<span>{{sns.table_titles.tbl_id}}</span>
				<span>{{sns.table_titles.product_name}}</span>
				<span>{{sns.table_titles.amount}}</span>
				<span>{{sns.table_titles.price}}</span>
				<span>{{sns.table_titles.price_full}}</span>
			</div>
		</li>
		<li *ngFor="let sale of sns.sale; index as i">
			<div>
				<span>{{sale.id}}</span>
				<span>{{sale.product.name}}</span>
				<span>{{sale.amount}}</span>
				<span>{{sale.product.price}}</span>
				<span>{{sale.product.price * sale.amount}}</span>
			</div>
		</li>
		<li>
			<div><span>{{sns.table_titles.sum}}</span><span>{{sns.getSum()}}</span></div>
		</li>
	</div>
</ul>
<div class="button" (click)="onSelect()">{{sns.table_titles.btn_select}}</div>
<div *ngIf="select">
	<app-product-add></app-product-add>
	<div (click)="onHide()" class="button">Скрыть</div>
</div>
<br><div class="button" (click)="onAppend(sale_id.value, sale_client.value, sns.sale); sale_client.value=''; sale_id.value=''; onClear()">{{sns.table_titles.btn_add}}</div>
<div class="button" (click)="onClear()">{{sns.table_titles.btn_clear}}</div>