<div class="button" (click)="onBtnClick(true)">{{btn_title}}</div>
<div class="button" (click)="onBtnClick(false)">{{btn_new_title}}</div>

<div *ngIf="sellingNewService.main_view">
	<h2>{{table_titles.title}}</h2>
	<ul class="sales">
		<li class="title">
			<div>
				<span>{{table_titles.id}}</span>
				<span>{{table_titles.client_name}}</span>
				<span>{{table_titles.sum}}</span>
			</div>
		</li>
		<li *ngFor="let sale of sellingNewService.sales" [class.selected] = "sale === selectedSale" (click)="onSelect(sale)">
			<div>
				<span>{{sale.id}}</span>
				<span>{{sale.client_name}}</span>
				<span>{{getSum(sale)}}</span>
			</div>
		</li>
	</ul>

	<app-product [sale]="selectedSale"></app-product>
	<div *ngIf="selectedSale">
		<div (click)="hide()" class="button">Скрыть</div>
	</div>
</div>

<div *ngIf="!sellingNewService.main_view">
	<app-selling-add></app-selling-add>
</div>