<div *ngIf="sale">
	<h2>{{sns.table_titles.detailed}}</h2>
	<ul class="sale">
		<li>
			<div>
				<span>{{sns.table_titles.id}}</span>
				<span>{{sale.id}}</span>
			</div>
		</li>
		<li>
			<div>
				<span>{{sns.table_titles.client_name}}</span>
				<span>{{sale.client_name}}</span>
			</div>
		</li>
	</ul>
	<ul>
		<li class="title">
			<div>
				<span>#</span>
				<span>{{sns.table_titles.product_name}}</span>
				<span>{{sns.table_titles.amount}}</span>
				<span>{{sns.table_titles.price}}</span>
				<span>{{sns.table_titles.price_full}}</span>
			</div>
		</li>
		<div *ngFor="let sale_ of sale.sales">
			<li>
				<div>
					<span>{{sale_.id}}</span>
					<span>{{sale_.product.name}}</span>
					<span>{{sale_.amount}}</span>
					<span>{{sale_.product.price}}</span>
					<span>{{sale_.product.price * sale_.amount}}</span>
				</div>
			</li>
		</div>
	</ul>
</div>